###################
# Compiled source #
###################
*.o
*.mod
main
a.out

#########
# Tests #
#########
*.test


########
# Util #
########
cr.sh
demo.f90
*.gp
/lib/libmatheval-1.1.11/
useful_resources
temp.*
